<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Review</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Lunch</h1>
      <h2>Oh, no! An error.</h2>
      <p>
      Maybe you forgot to type a message?
      If so, <a href="/">go back to the homepage</a> and try again.
      </p>
    </div>
  </body>
</html>



