<!DOCTYPE html>
<html>
  <head>
    <title>Lunch</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <a href = "/add_menu_items" >Admin</a>
    <div id="page">
      <h1>Lunch</h1>
      <form id="text-form" method="POST" action="/reviews">
        <textarea id="text-body" name="body" placeholder="Enter a review here."></textarea>
        
        <br>
        <button type="submit">Post Review</button>
      </form>
    </div>
  </body>
</html>