<!DOCTYPE html>
<html>
  <head>
    <title>Lunch</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <a href = "/add_menu_items" >Admin</a>
    <div id="page">
      <h1>Lunch of the Day</h1>
      <%= lunch.date %>
       <ol class="text-list">
        <% lunch.menu_items.each do |menu_item| %>
         <li>
          <div class="item-name">
          <%= menu_item.name %>
           </div>
          <div class="text-body">
         <%= menu_item.description %>
        </div>
        </li>
       <% end %>
    </ol>
    </div>
  </body>
</html>