<article id="set-lunch">
  <a href = "/admin/add_menu_items">Add Menu Items</a>
  
  <div class="add-menu-display">
    <h2 class="user-auth" style="border-bottom: 1px solid black;">Tell me, what's for lunch?</h2>
    
    <form method="POST" action="/admin/set_lunch">
      <br><br>
      Date: <input type="date" name="date" placeholder:"mm/dd/yy" required:"true">
      <% if menu_items.empty? %>
        <h2>Sorry, no menu items. :(</h2>
      <% else %>
        <h2>Menu Items</h2>
        <ol class="text-list">
          <% menu_items.each do |menu_item| %>
            <li>
              <div class="item-name">
                  <input type="checkbox" name="menu_item_ids[]" value="<%= menu_item.id %>">
                  <%= menu_item.name %>
              </div>
              <div class="text-body">
                <%= menu_item.description %>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
      <button type="submit">Set lunch</button>
    </form>
  </div>
</article>