body {
  background-image: url("congruent_pentagon.png");
}

#page {
  width: 66%;
  margin: auto;
  background: rgba(54, 25, 25, .04);
  box-shadow: 0 0 10px 10px #888888;
  margin-bottom: 10px;
}

#site-header #title {
  text-shadow: 2px 2px #3385FF;
}
#main-content{
  box-shadow: none;
}
#text-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#text-form button[type="submit"] {
  margin-top: 10px;
}

#text-form input[type="checkbox"] {
  margin-top: 5px;
}


#text-form #description-body {
  height: 100px;
  width: 100%;
  border-color: rgb(169, 169, 169);
  border-style: solid;
  border-width: 1px;
}

#site-header {
  height: 100px;
  width:  100%;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  margin-top:  10px;
  margin-bottom: 20px;
  margin-right: -100px;
  padding-bottom: 10px;
  padding-top:  10px;
  font-size: 48px;
  text-align: center;
}

#site-header nav .nav-links {
  font-size: 20px;
  text-shadow: none;
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0px 20px 0px 0px;
}

#text-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#text-form button[type="submit"] {
  margin-top: 10px;
}

#text-form input[type="checkbox"] {
  margin-top: 5px;
}

#text-form #description-body {
  height: 100px;
  width: 100%;
  border-color: rgb(169, 169, 169);
  border-style: solid;
  border-width: 1px;
}

.text-body {
  margin-bottom: 20px;
  margin-top: 10px;
  word-wrap: break-word;
}

.text-list .text-timestamp {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: right;
}

/*display menu item name*/
.item-name { 
  border-bottom: 1px solid rgb(128, 128, 128);
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}



/*new stuff*/
.item-display {
  margin:auto;
  height: 400px;
  width: 95%;
  margin-left: -27px;
  border: 3px solid;
  margin-bottom: 20px;
  padding: 30px;
  
  
}

.item-name {
  text-align: center;
  font-size: 28px;
}
.rating {
  text-align: right;
}

.rating-button {
  float: right;
}

.description {
  text-align: center;
  font-size: 20px;
}

#main-page-page #main-page-title {
  text-align: center;
  font-size: 32px;
}

#main-page-page #main-page-date {
  text-align: center;
  font-size: 28px;
}