body {
  background-color: white;
  color: rgb(32, 32, 32);
}

#page {
  margin: 0px auto;
  width: 800px;
}

<<<<<<< HEAD
=======
#text-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#text-form button[type="submit"] {
  margin-top: 10px;
}

#text-form input[type="checkbox"] {
  margin-top: 5px;
}


#text-form #description-body {
  height: 100px;
  width: 100%;
  border-color: rgb(169, 169, 169);
  border-style: solid;
  border-width: 1px;
}

>>>>>>> 75c81ef6ec8b3044c1f4fcde19f59379b7342070
#site-header {
  border-color: black;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  height: 50px;
  margin-bottom: 20px;
  padding: 20px;
}

#site-header nav .nav-links {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#text-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#text-form button[type="submit"] {
  margin-top: 10px;
}

#text-form input[type="checkbox"] {
  margin-top: 5px;
}


#text-form #description-body {
  height: 100px;
  width: 100%;
  border-color: rgb(169, 169, 169);
  border-style: solid;
  border-width: 1px;
}

.text-body {
  margin-bottom: 20px;
  margin-top: 10px;
  word-wrap: break-word;
}

.text-list .text-timestamp {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: right;
}

/*display menu item name*/
.item-name { 
  border-bottom: 1px solid rgb(128, 128, 128);
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}






