body {
  background-image: url("congruent_pentagon.png");
  margin: 0;
  padding: 0;
}

css menu, ol, ul, li { 
  padding: 0; 
}


/*layout.erb*/
/*---------------------*/
#main-content{
  box-shadow: none;
  padding: 20px;
}

#page {
  width: 80%;
  margin: auto;
  background: rgba(54, 25, 25, .04);
  box-shadow: 0 0 10px 10px #888888;
  margin-bottom: 10px;
}

/*  not in use  */
/*#site-header {*/
/*  height: 100px;*/
/*  width:  100%;*/
/*  border-color: black;*/
/*  border-style: solid;*/
/*  border-width: 0px 0px 1px 0px;*/
/*  margin-top:  10px;*/
/*  margin-bottom: 20px;*/
/*  margin-right: -100px;*/
/*  padding-bottom: 10px;*/
/*  padding-top:  10px;*/
/*  font-size: 48px;*/
/*  text-align: center;*/
/*}*/

/*#site-header #title {*/
/*  text-shadow: 2px 2px #3385FF;*/
/*}*/

/*#site-header nav .nav-links {*/
/*  font-size: 20px;*/
/*  text-shadow: none;*/
/*  list-style-type: none;*/
/*  float: right;*/
/*  margin: 0;*/
/*  padding: 0px 20px 0px 0px;*/
/*}*/
/*---------------------*/


/*main_page.erb*/
/*---------------------*/
#main-page-title {
  text-align: center;
  font-size: 32px;
}

#main-page-date {
  text-align: center;
  font-size: 28px;
}
/*---------------------*/


/*add_menu_items.erb*/
/*---------------------*/

/*---------------------*/









/*text forms*/
/*---------------------*/
.text-form-div {
  margin: auto;
}

.text-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.text-form input[type="checkbox"] {
  margin-top: 5px;
}

.text-form-body{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-color: rgb(169, 169, 169);
  border-style: solid;
  border-width: 1px;
}
/*---------------------*/





/*text - bodies of text*/
.text-body {
  margin-bottom: 15px;
  margin-top: 15px;
  word-wrap: break-word;
}

/*padding for text list items*/
.text-list {
  padding-right: 25px; 
  padding-left: 25px;
}

/*displays info like timestamp - small text*/
.text-info {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: right;
}




/*items (menu items) on main_page*/
/*---------------------*/
/*displays the item (menu item) in box */
.item-display {
  border: 2px solid;
  padding: 30px;
}

.item-underline {
  border-bottom: 1px solid rgb(169, 169, 169);
}

.rating {
  text-align: right;
}
/*---------------------*/



/*review form*/
/*---------------------*/
.review-form #review {
  width: 100%;
  border-color: rgb(169, 169, 169);
  border-style: solid;
  border-width: 1px;
}

#review {
  height: 80px;
}
/*---------------------*/


/*comments section*/
/*---------------------*/
.comment-section {
  list-style-type: none;
  margin-bottom: 15px;
  margin-top: 45px;
  word-wrap: break-word;
}

.avatar {
  display: block;
  float: left; 
  margin-right: 12px;
}
/*---------------------*/


#user-email, 
#user-password, 
#user-password-confirm {
  margin-bottom: 10px;
}
